@use '@st/functions' as func;
@use '@st/variables' as vars;
@use '@st/mixins' as mix;

.wrapper_select {
	@include mix.style_filters_params(
		func.adapt(296px, 1920px),
		func.adapt(43px, 1920px)
	);

	@media (max-width: 768.98px) {
		padding: func.adapt(12px, 768px);
		border-radius: func.adapt(8px, 768px);
		width: func.adapt(226px, 768px);
		height: func.adapt(43px, 768px);
	}
}

.block__select {
	position: absolute;
	top: func.adapt(51px, 1920px);
	left: 0;
	background-color: vars.$very_dark_blue;
	border-radius: func.adapt(8px, 1920px);
	border: 1px solid vars.$white;
	padding: func.adapt(12px, 1920px);
	width: 100%;
	max-height: func.adapt(440px, 1920px);
	overflow-x: hidden;
	overflow-y: auto;

	@include mix.style_scroll();

	@media (max-width: 768.98px) {
		top: func.adapt(51px, 768px);
		border-radius: func.adapt(8px, 768px);
		padding: func.adapt(12px, 768px);
		max-height: func.adapt(320px, 768px);
	}
}

.estimate {
	width: func.adapt(600px, 1920px);

	@media (max-width: 768.98px) {
		width: func.adapt(555px, 768px);
	}
}

.multi__block {
	display: flex;
	gap: func.adapt(12px, 1920px);

	@media (max-width: 768.98px) {
		gap: func.adapt(12px, 768px);
	}
}

.block__checkboxes {
	display: flex;
	flex-direction: column;
	gap: func.adapt(12px, 1920px);

	// flex-grow: 1;
	// max-height: 100%;
	// overflow-y: auto;

	@media (max-width: 768.98px) {
		gap: func.adapt(12px, 768px);
	}
}

.block__dataEstimate {
	display: flex;
	flex-direction: column;
	gap: func.adapt(8px, 1920px);
	width: func.adapt(246px, 1920px);
	padding-right: func.adapt(24px, 1920px);
	border-right: 1px solid rgba($color: vars.$white, $alpha: 0.08);

	@media (max-width: 768.98px) {
		gap: func.adapt(8px, 768px);
		width: func.adapt(246px, 768px);
		padding-right: func.adapt(24px, 768px);
	}
}

.button__estimate {
	display: flex;
	align-items: center;
	width: 100%;
	padding: func.adapt(4px, 1920px) func.adapt(8px, 1920px);
	border-radius: func.adapt(4px, 1920px);

	&:hover {
		cursor: pointer;
	}

	@media (max-width: 768.98px) {
		padding: func.adapt(4px, 768px) func.adapt(8px, 768px);
		border-radius: func.adapt(4px, 768px);
	}
}

.block__text {
	display: flex;
	gap: func.adapt(8px, 1920px);

	@media (max-width: 768.98px) {
		gap: func.adapt(8px, 768px);
	}

	> p {
		color: vars.$white;
		font-size: 0.875rem;
	}

	> span {
		color: rgba($color: vars.$white, $alpha: 0.6);
	}
}

.active {
	background-color: rgba($color: vars.$white, $alpha: 0.08);
	justify-content: space-between;
}

.image__active {
	width: func.adapt(10px, 1920px);
	height: func.adapt(10px, 1920px);
	justify-self: flex-end;

	@media (max-width: 768.98px) {
		width: func.adapt(10px, 768px);
		height: func.adapt(10px, 768px);
	}
}

@include mix.target_style();

.target__input {
	outline: none;
	max-width: 90%;
	background-color: transparent;
	caret-color: vars.$white;
	color: vars.$white;
	font-size: 1rem;
	font-weight: 500;
}

.arrow {
}

.title {
	font-size: 0.75rem;
	color: vars.$grey;
	margin-bottom: func.adapt(12px, 1920px);

	@media (max-width: 768.98px) {
		margin-bottom: func.adapt(12px, 768px);
	}
}
