@use '@st/functions' as func;
@use '@st/variables' as vars;
@use '@st/mixins' as mix;

.wrapper_select {
	@include mix.style_filters_params(
		func.adapt(296px, 1920px),
		func.adapt(43px, 1920px)
	);
}

.block__select {
	position: absolute;
	top: func.adapt(51px, 1920px);
	left: 0;
	background-color: vars.$very_dark_blue;
	border-radius: func.adapt(8px, 1920px);
	border: 1px solid vars.$white;
	padding: func.adapt(12px, 1920px);
	width: 100%;
	max-height: func.adapt(426px, 1920px);
	overflow-x: hidden;
	overflow-y: auto;

	@include mix.hidden_scroll();
}

@include mix.target_style();

.target__input {
	outline: none;
	max-width: 90%;
	background-color: transparent;
	caret-color: vars.$white;
	color: vars.$white;
	font-size: 1rem;
	font-weight: 500;
}

.arrow {
}

.title {
	font-size: 0.75rem;
	color: vars.$grey;
	margin-bottom: func.adapt(12px, 1920px);
}
