@use '@st/functions' as func;
@use '@st/variables' as vars;
@use '@st/mixins' as mix;

.wrapper_select {
	position: relative;
	padding: func.adapt(12px, 1920px);
	width: func.adapt(296px, 1920px);
	height: func.adapt(43px, 1920px);
	border: 1px solid rgba($color: vars.$white, $alpha: 0.08);
	background-color: vars.$middle_dark_blue;
	display: flex;
	align-items: center;
	border-radius: func.adapt(8px, 1920px);
	transition:
		background-color 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
}

.block__select {
	position: absolute;
	top: func.adapt(51px, 1920px);
	left: 0;
	background-color: vars.$very_dark_blue;
	border-radius: func.adapt(8px, 1920px);
	border: 1px solid vars.$white;
	padding: func.adapt(12px, 1920px);
	width: 100%;
	max-height: func.adapt(426px, 1920px);
	overflow-x: hidden;
	overflow-y: auto;

	@include mix.hidden_scroll();
}

.block__target {
	// border-radius: func.adapt(8px, 1920px);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	// padding: func.adapt(12px, 1920px);

	&:hover {
		cursor: pointer;
	}
}

.target {
	font-size: 1rem;
	font-weight: 500;
}

.target__input {
	outline: none;
	max-width: 90%;
	background-color: transparent;
	caret-color: vars.$white;
	color: vars.$white;
	font-size: 1rem;
	font-weight: 500;
}

.arrow {
}

.title {
	font-size: 0.75rem;
	color: vars.$grey;
	margin-bottom: func.adapt(12px, 1920px);
}
