@use '@st/functions' as func;
@use '@st/variables' as vars;

.loader {
	animation: spin 2s linear infinite;
	width: func.adapt(16px, 1920px);
	height: func.adapt(16px, 1920px);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
