@use '@st/functions' as func;
@use '@st/variables' as vars;

.block__popup {
	position: absolute;
	z-index: 5;
	backdrop-filter: blur(6px); // Размытие фона
	-webkit-backdrop-filter: blur(6px); // Для поддержки в Safari
	background-color: rgba($color: vars.$white, $alpha: 0.08);
	width: func.adapt(358px, 1920px);
	// height: func.adapt(363px, 1920px);
	border-radius: func.adapt(16px, 1920px);
	border: 1px solid rgba($color: vars.$white, $alpha: 0.08);

	@media (max-width: 425px) {
		width: func.adapt(358px, 390px);
		position: static;
		margin-top: func.adapt(-200px, 390px);
		border-radius: func.adapt(16px, 390px);
		margin-bottom: func.adapt(103px, 390px);
	}
}

.block__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: func.adapt(16px, 1920px) func.adapt(16px, 1920px) 0px;

	@media (max-width: 425px) {
		padding: func.adapt(16px, 390px) func.adapt(16px, 390px) 0px;
	}
}

.title {
	font-weight: 500;
	font-size: 1.25rem;
}

.block__stats {
	display: flex;
	gap: func.adapt(24px, 1920px);

	@media (max-width: 425px) {
		gap: func.adapt(24px, 390px);
		margin-top: func.adapt(12px, 390px);
	}
}

.block__content {
	&:first-child {
		padding-left: func.adapt(16px, 1920px);

		@media (max-width: 425px) {
			padding-left: func.adapt(16px, 390px);
		}
	}
}

.title__stats {
	font-weight: 500;
	font-size: 0.75rem;
	color: rgba($color: vars.$white, $alpha: 0.6);
}

.value__stats {
	font-size: 1rem;
	font-weight: 500;
}

.exit {
	background-color: transparent;

	&:hover {
		cursor: pointer;
	}

	> img {
		width: func.adapt(20px, 1920px);
		height: func.adapt(20px, 1920px);

		@media (max-width: 425px) {
			width: func.adapt(20px, 390px);
			height: func.adapt(20px, 390px);
		}
	}
}

.indicators {
	display: flex;
	justify-content: center;
	gap: func.adapt(8px, 390px);
	margin: func.adapt(20px, 390px) 0;
}

.indicator {
	width: func.adapt(8px, 390px);
	height: func.adapt(8px, 390px);
	background-color: rgba($color: vars.$white, $alpha: 0.4);
	border-radius: 50%;
}

.indicator.active {
	background-color: vars.$white;
}
