$fz: 16px;

//colors
$white: #fff;
$white_stroke_map: #e7efff;
$blue: #125dfe;
$blue_dark: #094ddf;
$middle_dark_blue: #1c2539;
$very_dark_blue: #161c2b;
$black: #0d0e13;
$black_background: #030916;
$grey: #c4c4c4;
$dark_grey: #252a31;
$middle_grey: #353a45;
