@use '@st/functions' as func;
@use '@st/variables' as vars;
@use '@st/mixins' as mix;

.block__worth {
	width: func.adapt(529px, 1920px);
	height: func.adapt(330px, 1920px);
	background-image: url('/images/backgrounds/graph.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: func.adapt(32px, 1920px) func.adapt(32px, 1920px)
		func.adapt(32px, 1920px) func.adapt(28px, 1920px);
	position: fixed;
	z-index: 5;
	top: func.adapt(560px, 1920px);
	left: 50%;
	transform: translateX(-50%);

	@media (max-width: 768.98px) {
		width: func.adapt(529px, 768px);
		height: func.adapt(330px, 768px);
		padding: func.adapt(32px, 768px) func.adapt(32px, 768px)
			func.adapt(32px, 768px) func.adapt(28px, 768px);
		top: func.adapt(371px, 768px);
		overflow-y: auto;
	}

	@media (max-width: 553.98px) {
		top: func.adapt(371px, 553px);
	}

	@media (max-width: 451px) {
		position: static;
		transform: translateX(0%);
		width: func.adapt(358px, 390px);
		height: func.adapt(533px, 390px);
		background-image: url('/images/backgrounds/graph_mobile.png');
		padding: func.adapt(24px, 390px) func.adapt(16px, 390px)
			func.adapt(32px, 390px);
		margin-bottom: func.adapt(30px, 390px);
		overflow-y: auto;
	}
}

.block__content {
	display: flex;
	justify-content: space-between;

	@media (max-width: 451px) {
		flex-direction: column;
		align-items: center;
	}
}

.block__graph {
	width: func.adapt(310px, 1920px);
	position: relative;

	@media (max-width: 768.98px) {
		width: func.adapt(310px, 768px);
	}

	@media (max-width: 451px) {
		width: func.adapt(286px, 390px);
		padding-left: func.adapt(18px, 390px);
	}
}

.title {
	font-weight: 500;
	font-size: 1.25rem;
	text-transform: uppercase;
	margin-bottom: func.adapt(8px, 1920px);

	@media (max-width: 768.98px) {
		margin-bottom: func.adapt(8px, 768px);
	}

	@media (max-width: 451px) {
		margin-bottom: func.adapt(38px, 390px);
		text-align: center;
	}
}

.block__source {
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: func.adapt(-40px, 1920px);
	@include mix.hidden_scroll();

	@media (max-width: 768.98px) {
		margin-left: func.adapt(-40px, 768px);
	}

	@media (max-width: 451px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: func.adapt(16px, 390px);
		margin: 0;
	}
}

.source {
	font-size: 0.875rem;
	display: flex;
	align-items: center;
}

.color {
	display: inline-block;
	width: func.adapt(10px, 1920px);
	height: func.adapt(7px, 1920px);
	border-radius: func.adapt(8px, 1920px);
	margin-right: func.adapt(7px, 1920px);

	@media (max-width: 768.98px) {
		width: func.adapt(10px, 768px);
		height: func.adapt(7px, 768px);
		border-radius: func.adapt(8px, 768px);
		margin-right: func.adapt(7px, 768px);
	}

	@media (max-width: 451px) {
		width: func.adapt(12px, 390px);
		height: func.adapt(8px, 390px);
		border-radius: func.adapt(10px, 390px);
		margin-right: func.adapt(8px, 390px);
	}
}

.percent {
	font-weight: 700;
	font-size: 0.875rem;
	margin-left: func.adapt(4px, 1920px);

	@media (max-width: 768.98px) {
		margin-left: func.adapt(4px, 768px);
	}
}
