@use '@st/functions' as func;
@use '@st/variables' as vars;
@use '@st/mixins' as mix;

.wrapper_map {
	width: 100vw !important;
	height: 100vh !important;

	@media (max-width: 425px) {
		width: 100vw !important;
		height: func.adapt(202px, 390px) !important;
	}
}

.mobile__margin {
	@media (max-width: 425px) {
		margin-bottom: func.adapt(300px, 390px) !important;
	}
}

.map {
	width: func.adapt(1322px, 1920px);
	height: func.adapt(723px, 1920px);

	@media (max-width: 425px) {
		width: func.adapt(369.49px, 390px);
		height: func.adapt(202px, 390px);
	}
}

.republic__sakha,
.chukotka__ao,
.sakhalin,
.kamchatka,
.magadan,
.khabarovsk,
.jewish_aut_region,
.amur__region,
.republic_of_buryatia,
.transbaikal__territory,
.irkutsk__region,
.republic_of_tuva,
.krasnoyarsk__region,
.republic_of_khakassia,
.kemerovo__region,
.altai__republick,
.altai__region,
.novosibirsk__region,
.tomsk__region,
.omsk__region,
.tyumen__region,
.khantyMansiysk,
.yamaloNenets,
.kurgan__region,
.sverdlovsk__region,
.chelyabinsk__region,
.republic_of_bashkortostan,
.perm__region,
.udmurt__republic,
.kirov__region,
.republic_of_tatarstan,
.chuvash__republic,
.republic_of_mari_el,
.nizhny__novgorod__region,
.ulyanovsk__region,
.samara__region,
.orenburg__region,
.republic_of_mordovia,
.penza__region,
.kaliningrad__region,
.komi__republic,
.nenets__autonomous__okrug,
.arkhangelsk__region,
.republic_of_karelia,
.murmansk__region,
.vologda__region,
.novgorod__region,
.leningrad__region,
.saint__petersburg,
.pskov__region,
.kostroma__region,
.yaroslavl__region,
.ivanovo__region,
.vladimir__region,
.ryazan__region,
.tula__region,
.kaluga__region,
.moscow,
.moscow__region,
.tver__region,
.smolensk__region,
.lipetsk__region,
.bryansk__region,
.oryol__region,
.kursk__region,
.belgorod__region,
.tambov__region,
.saratov__region,
.voronezh__region,
.republic_of_crimea,
.sevastopol,
.volgograd__region,
.rostov__region,
.astrakhan__region,
.republic_of_kalmykia,
.republic_of_adygea,
.krasnodar__region,
.stavropol__krai,
.karachayCherkess_republic,
.kabardinoBalkarian_republic,
.republic_of_north__ossetia,
.republic_of_ingushetia,
.republic_of_dagestan,
.chechen__republic,
.LNR,
.DNR,
.zaporizhia__region,
.kherson__region,
.primorsky__krai {
	@include mix.hover_region_style();
}

.target {
	fill: vars.$blue;

	> path {
		fill: vars.$blue;
	}

	// > mask {
	// 	> path {
	// 		fill: vars.$blue;
	// 	}
	// }
}
